* {
    text-align: center;
    background-color: #4801ff;
  }
  /* Add fonts*/
  
  @font-face {
    font-family: 'akzidenz-black';
    src: url(./assets/fonts/fonts/akzidenz-grotesk-black-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'akzidenz-bold';
    src: url('./assets/fonts/fonts/akzidenz-grotesk-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'akzidenz-light';
    src: url('./assets/fonts/fonts/akzidenz-grotesk-light-webfont.woff2') format('woff2');      
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'akzidenz-black-roman';
    src: url('./assets/fonts/fonts/akzidenz-grotesk-roman-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'druk-bold';
    src: url('./assets/fonts/fonts/druk_wide_web_bold_regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'druk-medium';
    src: url('./assets/fonts/fonts/druk_wide_web_medium_regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'druk-super';
    src: url('./assets/fonts/fonts/druk_wide_web_super_regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'druk-black';
    src: url('./assets/fonts/fonts/akzidenz-grotesk-black-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  
  }