
  @font-face {
    font-family: 'akzidenz-black';
    src: url('../assets/fonts/fonts/akzidenz-grotesk-black-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'akzidenz-bold';
    src: url('../assets/fonts/fonts/akzidenz-grotesk-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'akzidenz-light';
    src: url('../assets/fonts/fonts/akzidenz-grotesk-light-webfont.woff2') format('woff2');      
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'akzidenz-roman';
    src: url('../assets/fonts/fonts/akzidenz-grotesk-roman-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'druk-bold';
    src: url('../assets/fonts/fonts/druk_wide_web_bold_regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'druk-medium';
    src: url('../assets/fonts/fonts/druk_wide_web_medium_regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'druk-super';
    src: url('../assets/fonts/fonts/druk_wide_web_super_regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'druk-black';
    src: url('../assets/fonts/fonts/akzidenz-grotesk-black-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: #4801ff;
    font-family: "druk-medium";
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    letter-spacing: .02em;
    line-height: .9em;
    transition: color .5s,opacity .5s;;
  }
  .titleMain{
    /* margin-right: 0; */
    display: block;
    font-size: 93px;
    float: right;
    width: fit-content; 
    transform: rotateY(-45deg) translateZ(0) scale(1);
    transform-origin: right center;
    transform-style: preserve-3d;
    will-change: transform;
  }